**Implementação de TI (Mineração de Dados/I.A.)**

Prof. Miguel Bozer da Silva - miguel.bozer@senaisp.edu.br

---

# 1. Carregando arquivos de dados csv no Colaboratory:

## 1.1 Arquivos csv:

Antes de carregar o seu arquivo csv certifique-se qual o tipo de separação entre as colunas que foi aplicado no arquivo. Para isso, basta abrir o mesmo num bloco de notas e checar como a separação está sendo feita. Na imagem abaixo podemos ver que o fixed acidity, volatile acidity e outros estão separados por virgulas. Logo os dados tem suas colunas separadas por vírgulas.



![Arquivos csv](https://drive.google.com/uc?export=view&id=1F30nwQ0s5Tz0DgJTsr8oyIga6NEbmN29)

Na sequência verifique se a codificação do arquivo está no padrão UTF-8. Para isso, clique em Arquivo, Salvar Como e verifique o padrão em Codificação.


![Arquivos csv](https://drive.google.com/uc?export=view&id=1yQ-fIAfzs1sVfbcT24surQomWGYb41Bu)

## 1.2 Recebendo dados em csv:

Agora iremos carregar os nossos dados com o auxílio da biblioteca Pandas. Essa biblioteca nos permite visualizar os dados de forma tabular. Para isso faça o upload dos seus arquivos na pasta ao lado no próprio Google Colab:

![Arquivos csv](https://drive.google.com/uc?export=view&id=107K0o-Q3_HCsqOhOeFeSSh2g-Tsr_EQZ)

Vamos agora carregar o arquivo csv com o pandas. Para isso, iremos usar o comando `import pandas as pd` para carregar a biblioteca do pandas e iremos "apelidar" ela de pd.

Na sequência iremos usar o comando `pd.read_csv("Nome_do_Arquivo", sep = 'tipo_separador_coluna')`, sendo que:



*   `Nome_do_Arquivo`: É o nome do arquivo incluindo a pasta que ele se encontra. No nosso caso como o arquivo está na pasta raiz do Colab, preencheremos esse parâmetro com "Vinho.csv".
*   `sep = tipo_separador_coluna`: Iremos mudar esse parâmetro para o tipo de separador do nosso arquivo csv. No nosso caso vimos que o separador é a vírgula.

In [ ]:
# Importando o pandas
import pandas as pd

# Armazenandos os dados em um DataFrame
dados = pd.read_csv("Vinho.csv", sep = ',')

Acima carregamos na variável `dados` o arquivo Vinho.csv. Agora podemos visualizar o arquivo csv se assim desejarmos:

In [ ]:
dados

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

### Exercício 1 )

Utilizando o arquivo 'healthcare-dataset-modificado_rev_1.csv' resolva os itens a seguir:

a) Faça o upload do arquivo localmente no Colab e carregue o mesmo numa variável chamada "dados_saude" usando o pandas.

In [ ]:
# Seu código aqui
dados_ex = pd.read_csv("./healthcare-dataset-modificado_rev_1.csv",
                       sep=';')

In [ ]:
# Seu código aqui
dados_ex

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
0,9046,Male,67,No,Yes,Yes,five or more symptoms,22869,36.6,formerly smoked,Yes
1,51676,Female,61,No,No,Yes,three symptoms,20221,NaN,never smoked,Yes
2,31112,Male,80,No,Yes,Yes,five or more symptoms,10592,32.5,never smoked,Yes
3,60182,Female,49,No,No,Yes,five or more symptoms,17123,34.4,smokes,Yes
4,1665,Female,79,Yes,No,Yes,three symptoms,17412,24.0,never smoked,Yes
...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80,Yes,No,Yes,five or more symptoms,8375,NaN,never smoked,No
5106,44873,Female,81,No,No,Yes,three symptoms,1252,40.0,never smoked,No
5107,19723,Female,35,No,No,Yes,three symptoms,8299,30.6,never smoked,No
5108,37544,Male,51,No,No,Yes,five or more symptoms,16629,25.6,formerly smoked,No
5109,44679,Female,44,No,No,Yes,four symptoms,8528,26.2,Unknown,No

# 2. Comandos básicos de visulização de dados (Pandas)

Aqui iremos aprender um pouco sobre o Pandas para que em problemas futuros seja possível conhecer algumas possíveis soluções usando essa API.

Vamos inicializar vendo o tipo dos dados que foram carregados anteriormente. Vamos analisar a tabela que salvamos em `dados`

In [ ]:
type(dados)

pandas.core.frame.DataFrame

Um `DataFrame` é uma tabela bidimensional contendo linhas e colunas. Por ser um classe do pandas, essa tabela possui diversos métodos e atributos. Veremos alguns deles a seguir:

## 2.1 Visualização dos dados da tabela

- O método `head` permite que seja visualizado, por padrão, as 5 primeiras linhas dos nossos dados.

In [ ]:
# visualizar as 5 primeiras linha
dados.head()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
0,9046,Male,67,No,Yes,Yes,five or more symptoms,22869,36.6,formerly smoked,Yes
1,51676,Female,61,No,No,Yes,three symptoms,20221,NaN,never smoked,Yes
2,31112,Male,80,No,Yes,Yes,five or more symptoms,10592,32.5,never smoked,Yes
3,60182,Female,49,No,No,Yes,five or more symptoms,17123,34.4,smokes,Yes
4,1665,Female,79,Yes,No,Yes,three symptoms,17412,24.0,never smoked,Yes

- Enquanto que o método `tail` permite que seja vizualizado, por padrão, as 5 últimas linhas dos nossos dados.

In [ ]:
# últimas linhas
dados.tail()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
5105,18234,Female,80,Yes,No,Yes,five or more symptoms,8375,NaN,never smoked,No
5106,44873,Female,81,No,No,Yes,three symptoms,1252,40.0,never smoked,No
5107,19723,Female,35,No,No,Yes,three symptoms,8299,30.6,never smoked,No
5108,37544,Male,51,No,No,Yes,five or more symptoms,16629,25.6,formerly smoked,No
5109,44679,Female,44,No,No,Yes,four symptoms,8528,26.2,Unknown,No

## 2.2 Obtendo informações dos dados da tabela

Podemos checar os tipos de dados envolvidos no nosso problema com a função `info()`:

In [ ]:
# tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

Os principais tipos de dados de cada uma das colunas que um `DataFrame` que o pandas pode nos retornar são:

Pandas | Tipo de dados | Uso
---|---|---
object | string ou vários tipos | Texto ou conjunto de texto
int64 | inteiro | Valores inteiros
float64 | real | Valores reais (números com casas decimais)
bool | boleano | Valores que assumem apenas Verdadeiro ou Falso

Podemos também verificar quantas linhas e colunas temos nos nossos dados analisando o atributo `shape`

In [ ]:
# tamanho dos dados
dados.shape

(1599, 12)

## 2.3 Filtrando os dados

Podemos filtrar os dados do nosso dataset para acessar algumas linhas ou colunas dele. Nas seções a seguir iremos trabalhar alguns desses exemplos:

### 2.3.1 Filtrando os dados a partir das suas colunas

Para iniciarmos vamos aprender a selecionar apenas uma coluna da tabela.

**Obs.:** Quando temos apenas uma coluna de dados, o tipo de dado é `Series`

* Uma forma de selecionar uma coluna é usando a seguinte sintaxe: `df['nomeDaColuna']`

In [ ]:
A = dados['alcohol']
type(A)

pandas.core.series.Series

In [ ]:
A

0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
1594    10.5
1595    11.2
1596    11.0
1597    10.2
1598    11.0
Name: alcohol, Length: 1599, dtype: float64

In [ ]:
# Selecionando apenas uma coluna
dados["residual sugar"]

0       1.9
1       2.6
2       2.3
3       1.9
4       1.9
       ...
1594    2.0
1595    2.2
1596    2.3
1597    2.0
1598    3.6
Name: residual sugar, Length: 1599, dtype: float64

Podemos também informar uma lista com o nome das colunas que desejamos filtrar para visualizar apenas essas colunas. Para isso usamos `nome_dataframe[["coluna_1", "coluna_2", "coluna_3", ..., "coluna_n"]]`

In [ ]:
#Podemos passar uma lista das colunas que desejamos selecionar
colunas = ["fixed acidity","residual sugar","citric acid"]
dados[colunas]

      fixed acidity  residual sugar  citric acid
0               7.4             1.9         0.00
1               7.8             2.6         0.00
2               7.8             2.3         0.04
3              11.2             1.9         0.56
4               7.4             1.9         0.00
...             ...             ...          ...
1594            6.2             2.0         0.08
1595            5.9             2.2         0.10
1596            6.3             2.3         0.13
1597            5.9             2.0         0.12
1598            6.0             3.6         0.47

[1599 rows x 3 columns]

É possível criar uma variável nova apenas com esse DataFrame:

In [ ]:
C = dados[["fixed acidity","residual sugar","citric acid"]].copy()
C.head()

   fixed acidity  residual sugar  citric acid
0            7.4             1.9         0.00
1            7.8             2.6         0.00
2            7.8             2.3         0.04
3           11.2             1.9         0.56
4            7.4             1.9         0.00

*   É possível selecionar os dados a partir dos índices das linhas (**números das linhas**) e índices das colunas (**NOMES das suas colunas**) usando o método `loc`. Para isso, devemos usar: `dados.loc[:, ["nome_coluna_1", "nome_coluna_2", "nome_coluna_3", ..., "nome_coluna_3]`

In [ ]:
# Acessando todos os dados das colunas X1 e X5
dados.loc[:,["fixed acidity","residual sugar","citric acid"]]

      fixed acidity  residual sugar  citric acid
0               7.4             1.9         0.00
1               7.8             2.6         0.00
2               7.8             2.3         0.04
3              11.2             1.9         0.56
4               7.4             1.9         0.00
...             ...             ...          ...
1594            6.2             2.0         0.08
1595            5.9             2.2         0.10
1596            6.3             2.3         0.13
1597            5.9             2.0         0.12
1598            6.0             3.6         0.47

[1599 rows x 3 columns]

Para acessar um intervalo de linhas usando o iloc, basta seguir os exemplos anteriores `dados.loc[num_inicio:num_fim,"nome_coluna_1:nome_coluna_2]`

In [ ]:
# Acessando um intervalo de dados das colunas X1 até X4
dados.loc[10:20,"chlorides":"pH"]

    chlorides  free sulfur dioxide  total sulfur dioxide  density    pH
10      0.097                 15.0                  65.0   0.9959  3.28
11      0.071                 17.0                 102.0   0.9978  3.35
12      0.089                 16.0                  59.0   0.9943  3.58
13      0.114                  9.0                  29.0   0.9974  3.26
14      0.176                 52.0                 145.0   0.9986  3.16
15      0.170                 51.0                 148.0   0.9986  3.17
16      0.092                 35.0                 103.0   0.9969  3.30
17      0.368                 16.0                  56.0   0.9968  3.11
18      0.086                  6.0                  29.0   0.9974  3.38
19      0.341                 17.0                  56.0   0.9969  3.04
20      0.077                 29.0                  60.0   0.9968  3.39

### 2.3.2 Filtrando os dados a partir de mascaras.

*   É possível filtrar os dados com o uso de valores booleanos `[True,False]`. Onde quando o valor de uma linha é `True`, a mesma será exibida e se o valor é `False` o valor será ocultado.

Vamos criar um filtro para valores de "free sulfur dioxide">=20:

In [ ]:
#Criando uma mascara com valores maiores ou iguais a 20
dados["free sulfur dioxide"] >=20

0       False
1        True
2       False
3       False
4       False
        ...
1594     True
1595     True
1596     True
1597     True
1598    False
Name: free sulfur dioxide, Length: 1599, dtype: bool

Vamos ver outro filtro para "quality" ==5

In [ ]:
#Criando uma mascara para valores iguais a 5
dados["quality"] == 5

0        True
1        True
2        True
3       False
4        True
        ...
1594     True
1595    False
1596    False
1597     True
1598    False
Name: quality, Length: 1599, dtype: bool

Podemos também expressar lógicas E (`&`) e OU (`|`). Vamos ver o caso onde o "ph">=3.4 e o "free sulfur dioxide" >=10:

In [ ]:
(dados["pH"] >= 3.4) & (dados["free sulfur dioxide"] >=10)

0        True
1       False
2       False
3       False
4        True
        ...
1594     True
1595     True
1596     True
1597     True
1598    False
Length: 1599, dtype: bool

Refazendo o exemplo anterior com lógica "OU":

In [ ]:
(dados["pH"] >= 3.4) | (dados["free sulfur dioxide"] >=10)

0       True
1       True
2       True
3       True
4       True
        ...
1594    True
1595    True
1596    True
1597    True
1598    True
Length: 1599, dtype: bool

*   Podemos passar a mascara para um DataFrame e visualizar apenas as linhas onde os valores são verdadeiros pela mascara. Vamos ver os valores de dados com o filtro "pH" >3.4 e "free sulfur dioxide" >=10:

In [ ]:
# Filtrando todo o conjunto de dados
mask = (dados["pH"] >= 3.4) & (dados["free sulfur dioxide"] >=10)
dados[mask]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9,5
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.99820,3.52,0.65,9.7,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

Podemos também filtrar os dados a partir de colunas que especificamos e de mascaras que queremos filtrar nossos dados. Para isso, temos que usar a seguinte sintaxe `dados[["nome_coluna_1, "nome_coluna_2", ... "nome_coluna_n"],(mascara)]`. Vamos filtrar os dados pelas colunas do pH, free sulfur dioxide, quality e a nossa mascara será ph>=3.4 e free sulfur dioxide >=10:

In [ ]:
# Filtrando apenas colunas selecionadas
mask = (dados["pH"] >= 3.4) & (dados["free sulfur dioxide"] >=10)
colunas = ["pH", "free sulfur dioxide", "quality"]
dados[colunas][mask]

        pH  free sulfur dioxide  quality
0     3.51                 11.0        5
4     3.51                 11.0        5
5     3.51                 13.0        5
12    3.58                 16.0        5
21    3.52                 23.0        5
...    ...                  ...      ...
1593  3.42                 28.0        6
1594  3.45                 32.0        5
1595  3.52                 39.0        6
1596  3.42                 29.0        6
1597  3.57                 32.0        5

[317 rows x 3 columns]

### Exercício:

Carregar o dataset do exercício anterior no Colab e visualizar:

a) as 5 primeiras linhas e as 5 últimas linhas;

b) os tipos de dados de cada uma das colunas;

c) Criar um DataFrame "B" a partir de duas colunas quaisquer dos seus dados

d) Criem uma mascara para filtrar os dados onde a produtividade seja maior do que 0.7

### Correção Exercício:

Carregar o dataset do exercício anterior no Colab e visualizar:

In [ ]:
dados_saude = pd.read_csv("/content/healthcare-dataset-modificado_rev_1.csv",sep=";",)

a) as 5 primeiras linhas e as 5 últimas linhas;

In [ ]:
dados_saude.head()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
0,9046,Male,67,No,Yes,Yes,five or more symptoms,22869,36.6,formerly smoked,Yes
1,51676,Female,61,No,No,Yes,three symptoms,20221,NaN,never smoked,Yes
2,31112,Male,80,No,Yes,Yes,five or more symptoms,10592,32.5,never smoked,Yes
3,60182,Female,49,No,No,Yes,five or more symptoms,17123,34.4,smokes,Yes
4,1665,Female,79,Yes,No,Yes,three symptoms,17412,24.0,never smoked,Yes

In [ ]:
dados_saude.tail()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
5105,18234,Female,80,Yes,No,Yes,five or more symptoms,8375,NaN,never smoked,No
5106,44873,Female,81,No,No,Yes,three symptoms,1252,40.0,never smoked,No
5107,19723,Female,35,No,No,Yes,three symptoms,8299,30.6,never smoked,No
5108,37544,Male,51,No,No,Yes,five or more symptoms,16629,25.6,formerly smoked,No
5109,44679,Female,44,No,No,Yes,four symptoms,8528,26.2,Unknown,No

b) os tipos de dados de cada uma das colunas;

In [ ]:
dados_saude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X0      5110 non-null   int64
 1   X1      5110 non-null   object
 2   X2      5110 non-null   int64
 3   X3      5110 non-null   object
 4   X4      5110 non-null   object
 5   X5      5110 non-null   object
 6   X6      5110 non-null   object
 7   X7      5110 non-null   int64
 8   X8      4909 non-null   float64
 9   X9      5110 non-null   object
 10  X10     5110 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 439.3+ KB

c) Criar um DataFrame "B" a partir de duas colunas quaisquer dos seus dados

In [ ]:
B = dados_saude[["X2","X3"]]
B

      X2   X3
0     67   No
1     61   No
2     80   No
3     49   No
4     79  Yes
...   ..  ...
5105  80  Yes
5106  81   No
5107  35   No
5108  51   No
5109  44   No

[5110 rows x 2 columns]

d) Criem uma mascara para filtrar os dados onde:
- "X1" --> "Female"

E

- "X9" --> "Unknow"

In [ ]:
mascara = (dados_saude["X1"] == "Female") & (dados_saude["X9"] == "Unknown")
mascara

0       False
1       False
2       False
3       False
4       False
        ...
5105    False
5106    False
5107    False
5108    False
5109     True
Length: 5110, dtype: bool

In [ ]:
dados_saude[mascara]["X2"]

8       59
9       78
46      75
50      76
81      66
        ..
5089    72
5101    45
5103    18
5104    13
5109    44
Name: X2, Length: 836, dtype: int64